@import "tailwindcss";

:root {
  --color-bg: #000;
  --color-text: #fff;
  --color-accent: #7c3aed;
  --color-accent-hover: #6d28d9;
  --color-border: #374151;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  margin: 0;
  padding: 0;
}
